
<div class="main">
  <div style="margin: 1rem">
    <!--  <h1>Customer Form</h1>-->
    <button mat-fab color="primary" disabled>
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
    <form [formGroup]="customerForm">
      <div class="input-container">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput  type="text" id="userId" name="userId" formControlName="customerId">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Name</mat-label>
        <input matInput  type="text" id="userName" name="userName" formControlName="customerName">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Address</mat-label>
        <input matInput  type="text" id="userAddress" name="userAddress" formControlName="customerAddress">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Salary</mat-label>
        <input matInput  type="text" id="userSalary" name="userSalary" formControlName="customerSalary">
      </mat-form-field>
  </div>
    </form>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="submit()">Submit
      <mat-icon>send_and_archive</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="clearForm()">
      <mat-icon>backspace</mat-icon>
      Clear
    </button>
    <a routerLink="/home" style="text-decoration: none">
      <button mat-raised-button color="accent">
        <mat-icon>home</mat-icon>
        Home
      </button>
    </a>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="newDataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
      </ng-container>


      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
      </ng-container>


      <ng-container matColumnDef="customerAddress">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.customerAddress}} </td>
      </ng-container>


      <ng-container matColumnDef="customerSalary">
        <th mat-header-cell *matHeaderCellDef> Salary </th>
        <td mat-cell *matCellDef="let element"> {{element.customerSalary}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
    </table>
  </div>
</div>


