
<div class="main">

  <div style="margin: 1rem">
    <!--  <h1>Customer Form</h1>-->
    <button mat-fab color="primary" disabled>
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

    <form [formGroup]="customerForm">
      <div class="input-container">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput  type="text" id="userId" name="userId" formControlName="customerId">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Name</mat-label>
        <input matInput  type="text" id="userName" name="userName" formControlName="customerName">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Address</mat-label>
        <input matInput  type="text" id="userAddress" name="userAddress" formControlName="customerAddress">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Salary</mat-label>
        <input matInput  type="text" id="userSalary" name="userSalary" formControlName="customerSalary">
      </mat-form-field>
  </div>
    </form>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="submit()">Submit
      <mat-icon>send_and_archive</mat-icon>
    </button>
    <button mat-raised-button color="warn">
      <mat-icon>backspace</mat-icon>
      Clear
    </button>
    <a routerLink="/home" style="text-decoration: none">
      <button mat-raised-button color="accent">
        <mat-icon>home</mat-icon>
        Home
      </button>
    </a>
  </div>
</div>


