
<div class="main">
  <h1>Customer Form</h1>
  <div class="input-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput  value="">
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input matInput  value="">
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput  value="">
      </mat-form-field>
    </form>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary">Submit</button>
    <button mat-raised-button color="warn">Clear</button>
  </div>
</div>


